@page
@model ParserModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["FormattedTitle"] = "Text 2 HTML";
}

<style>
    .sizeableTextarea {
        background-color: AliceBlue;
        resize: both;
        height: 200px;
        width: 800px;
        overflow: scroll; 
    }
</style>

<form method="post">
    <div>
        @Html.LabelFor(m => m.Input)<br/>
        @Html.EditorFor(m => m.Input, new { htmlAttributes = new
        {
            @id = "inputBox",
            @class = "sizeableTextarea", 
            @placeholder = "Raw input to be formatted for FAQ pages..."
        } })
    </div>
    <p>
        <input type="submit" value="Parse" asp-page-handler="Parse"/>
        <input type="button" onclick="document.getElementById('inputBox').value = '';" value="Clear">
    </p>
    <br />


    <div>
        @Html.LabelFor(m => m.ParsedFaqList)<br />
        <textarea id="ParsedFaqList" class="sizeableTextarea">@Model.ParsedFaqList</textarea>
    </div>
    <input type="hidden" name="textValue" value="@Model.ParsedFaqList" />
    @*     <p><input type="submit" value="Copy" asp-page-handler="CopyToClipboard"  /></p> *@
    <p><button onclick="copyToClipboard('ParsedFaqList'); return false;">Copy text</button></p>
    <br />

    <div>
        @Html.LabelFor(m => m.ParsedFaqText)<br />
        <textarea id="ParsedFaqText" class="sizeableTextarea">@Model.ParsedFaqText</textarea>
    </div>
    <input type="hidden" name="textValue" value="@Model.ParsedFaqText" />
    <p><button onclick="copyToClipboard('ParsedFaqText'); return false;">Copy text</button></p>
@*     <p><input type="submit" value="Copy" asp-page-handler="CopyToClipboard" /></p>
 *@    <br />
</form>


@* 
    
        <div>
          @Html.LabelFor(m => m.ParsedFaqList) <br/>
          @Html.EditorFor(m => m.ParsedFaqList, new { htmlAttributes = new { @class = "sizeableTextarea" } })
      </div>
      <br />
      

      <p>
          Results: <br/>
          @ViewData["FormattedResult"]
      </p>
      <p>
          Results2: <br />
          @Model.ParsedFaqList
      </p>
   
<div style="background-color: LightBlue">
    Other stuff

    <div>
        <textarea class="sizeableTextarea" placeholder="Write a reply..."></textarea>
    </div>
</div>
 *@