@page
@model ParserModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Text 2 HTML";
}

<style>
    .sizeableTextarea {
        background-color: AliceBlue;
        resize: both;
        height: 200px;
        width: 800px;
        overflow: scroll; 
    }
</style>

<form method="post">
    <div>
        @Html.LabelFor(m => m.Input)<br/>
        @Html.EditorFor(m => m.Input, new { htmlAttributes = new { @class = "sizeableTextarea", @placeholder = "Raw input to be formatted for FAQ pages..." } })
    </div>
    <p><input type="submit" value="Parse" asp-page-handler="Parse"/></p>
    <br />


    <div><textarea class="sizeableTextarea">@Model.ParsedOutput</textarea></div>
    <input type="hidden" name="textValue" value="@Model.ParsedOutput" />
    <p><input type="submit" value="Copy" asp-page-handler="CopyToClipboard"  /></p>
    <br />
</form>


@* 
    
        <div>
          @Html.LabelFor(m => m.ParsedOutput) <br/>
          @Html.EditorFor(m => m.ParsedOutput, new { htmlAttributes = new { @class = "sizeableTextarea" } })
      </div>
      <br />
      

      <p>
          Results: <br/>
          @ViewData["FormattedResult"]
      </p>
      <p>
          Results2: <br />
          @Model.ParsedOutput
      </p>
   
<div style="background-color: LightBlue">
    Other stuff

    <div>
        <textarea class="sizeableTextarea" placeholder="Write a reply..."></textarea>
    </div>
</div>
 *@